*{
    margin: 0;
    padding: 0;
    border: 0;
}
ol, ul {
    list-style: none;
}

        /* Basic */
@media screen and (max-width: 480px) {
    html, body {
        min-width: 320px;
    }
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

        /* Type */
body {
    color: #ffffff;
    font-family: "ZCOOL KuaiLe", cursive;
    font-size: 17pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.65;
    background-color: #2a2f4a;
}
a {
    text-decoration: none;
}
h3{
    color: #ffffff;
    font-weight: 600;
    line-height: 1.65;
    margin: 0 0 1em 0;
}
h3 a{
    color: inherit;
    border-bottom: 0;
}

        /* Section/Article */
header.major > :first-child {
    margin-bottom: 0;
    width: calc(100% + 0.5em);
}
    header.major > :first-child:after {
        content: '';
        background-color: #ffffff;
        display: block;
        height: 2px;
        margin: 0.325em 0 0.5em 0;
        width: 100%;
    }
header.major > p {
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.25em;
    margin-bottom: 0;
    text-transform: uppercase;
}

        /* Header */
#header {
    display: flex;
    background-color: #2a2f4a;
    font-weight: 600;
    height: 6em;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}               
        /*ICONOS*/             
.icono_link:hover{
    filter: drop-shadow(2px 2px 2px #ffffff);
}
.icono_logo:hover{
    filter: drop-shadow(2px 2px 2px #ffffff);
}
.icono_git:hover{
    filter: drop-shadow(2px 2px 1px #ffffff); /*sombra png*/
}
img:nth-child(1){
    flex: 0 3 auto;
}
img:nth-child(2){
    flex: 0 2 auto;
}
img:nth-child(3){
    flex: 0 1 auto;
}

        /* Footer */
.copyright {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Caveat', cursive;
    padding: 1.5em;
    background-color: #2a2f4a;
}  

        /* NAV*/
nav {
    font-family: "ZCOOL KuaiLe", cursive;
}
nav li{ 
        background-color: #EC8D81;
    padding: 10px;
    color: white;
    transition-property: background-color;
    transition-duration: 1s;
}
nav li:hover{
    transition-property: background-color;
    transition-duration: 0.1s;
    background-color: #9b2717
}

        /* Tiles */
.tiles {
    display: flex;
    flex-wrap: wrap;
    border-top: 0 !important;
}
        
        /* Table */
table a {
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 736px) { /*P*/
/* NAV */
    nav {
        background-color: #EC8D81;
        width: 100%;  
    }
     nav ul{
        margin-top: 0%;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 15px;
        padding-left: 0px;
        width: 100%;
    }
    nav li{
        float: left;
        margin-right: auto;
        font-weight: bold;
        letter-spacing: 2px;
        text-align: center;
        width: 33%;
    }
/* Tiles */
    .tiles article {
        width: 100%;
    }
    .tiles article h3 {
        font-size: 1.5em;
    }
    .tiles article p {
        font-size: 0.70em;
    }
    .tiles article header.major {
        padding: 3em 3em 1em 3em ;
        min-height: 8em;
        background-color: #EC8D81;  
    }
 /* Tabla */
 table {
        width: 100%;
        margin-top: 20px;
        margin-left: 10%;
        font-family: 'Caveat', cursive;
    }
    td{
        padding-right:20%;
        font-size:1.5em ;
        text-align: center;
        color: white;
    }
}
        
@media screen and (min-width: 740px) {
/*Nav*/ 
    nav {
        width: 20%;
        float: left;
        padding-bottom: 15px;
    }
     nav ul{
        margin:0;
    }
/* Tiles */
    .tiles article {
        width: 80%;
    }
    .tiles article h3 {
        font-size: 1.75em;
    }
    .tiles article header.major {
        padding: 4em 4em 2em 4em ;
        min-height: 10em;
        background-color: #EC8D81;  
    }
/* Tabla */
    table {
        width: 80%;
        padding: 5%;
        margin-top: 30px;
        margin-left: 10%;
        margin-bottom: 30px;
        font-family: 'Caveat', cursive;
    }
    td{
        font-size:1.5em ;
        text-align: center;
        color: white;
    }
}